<!DOCTYPE html>
<html lang="en">
<!-- https://moretowords.netlify.app/ -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoreToWords</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>
    <header>
        <h1><a href="/">MoreToWords</a></h1>
        <a href="/about">About Us</a>
    </header>
    <article>
        <p style="text-align: center;">This Website is all about words.<br>We believe that the meaning of words is
            somthing that a lot of people take for granted.<br>Therefore we wanted to give you something to
            appreciate them more!<br>This website is for a class project, enjoy! </p>

    </article>
    <h2> About Us</H2>
    <p style="text-align:center;"><img style="height: 60%;
    width: 10%;" src="https://cdn.pixabay.com/photo/2020/04/13/20/42/potato-5039995_1280.png" alt="potato word"
            title="potato word"></p>
    <footer>
        <p>MoreToWords</p>

    </footer>
</body>

</html>